<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270302728780-sghtitrnkatc5t5monte52v3emp00bp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270302728780-sghtitrnkatc5t5monte52v3emp00bp4</string>
	<key>API_KEY</key>
	<string>AIzaSyBkVUKmrTmNfWzjFTUIyTA5wvG0vWpYBaA</string>
	<key>GCM_SENDER_ID</key>
	<string>270302728780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DemoSearch</string>
	<key>PROJECT_ID</key>
	<string>searchdemo-90643</string>
	<key>STORAGE_BUCKET</key>
	<string>searchdemo-90643.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270302728780:ios:b6800a5c34d75575af9ae9</string>
</dict>
</plist>